<!DOCTYPE html>
<html>
<head>
    <title>Login</title>


    <!-- Stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- BOOTSTRAP CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>


    <div class="home-background">

        <nav class="navbar navbar-light" style="background-color: #e6fced;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/logo.png" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
                    Admin Portal
                </a>
            </div>
        </nav>

        <div class="admin-box">

            <form action="/adminPassword" method="post" id="admin-form">
                
                <div class="mb-3">
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Admin Password" required>
                </div>
                
                <button type="submit" class="admin-logout-btn">Submit</button>
            </form>
            <br>
            <p>Back to Student Portal? <a href="/login">click here</a></p>

        </div>
    </div>


</body>
</html>