<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- BOOTSTRAP CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

    <div id="cover-background" class="home-background">
        <nav class="navbar navbar-light" style="background-color: #fff8de;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/logo.png" alt="Logo" width="35" height="35" class="d-inline-block align-text-top">
                    Student Portal
                </a>
                <form class="d-flex" role="search" action="/logout?_method=DELETE" method="post">
                    <button type="submit" class="submit-btn">Logout</button>
                </form>
            </div>
        </nav>
        <p class="heading">Hello <%= name %>!<span>😊</span> </p>
        <p class="cover-text">Hope you are doing amazing<br> and are really glad that you’re here.<br> Welcome aboard!</p>
    </div>

</body>
</html>